div.article {
  width: 100vw;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

div.inner-article {
  width: 100vw;
  max-width: 700px;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}

div.article h1 {
  font-size: 4em;
  margin: 0px;
}

div.article h2 {
  font-size: 3em;
  margin: 0px;
}

div.article h3 {
  font-size: 2em;
  margin: 20px 0px 0px 0px;
}

div.article p {
  margin: 10px 0px 10px 0px;
}

div.article div.code {
  border: solid 2px red;
}

div.article div.code p {
  font-family: 'Courier New', Courier, monospace;
  white-space: pre;
}

div.article code {
  width: fit-content;
  border: solid 4px black;
  background-color: #ddddddff;
  display: inline-block;
  white-space: pre;
  margin: 5px;
  padding: 15px 15px 15px 15px;
}

div.article code p.code {
  font-family: 'Courier New', Courier, monospace;
  margin: 2px;
}

div.article figure {
  border: solid black 4px;
  padding: 4px;
  margin: 4px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

div.article figcaption {
  font-size: 1.5em;
}

div.article a[name] {
  display: block;
  position: relative;
  top: -55px;
  visibility: hidden;
}

div.article ul.contents li {
  font-size: 1.5em;
}

div.article ul.contents li a {
  text-decoration: none;
}

div.article a:link {
  color: black;
}


div.article a:visited {
  color: #222222ff;
}


div.article a:hover {
  color: red;
}

div.article code p {
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  margin: 0px;
}

div.article code p span {
  font-family: 'Courier New', Courier, monospace;
}

div.article span.code-p {
  color: #8000ff;
}

div.article span.code-l {
  color: #408000;
}

div.article span.code-c {
  color: #008080;
}

div.article span.code-b {
  color: #0000bb;
}

div.article span.code-y {
  color: #606000;
}

div.article span.code-t {
  color: #008040;
}

div.article span.code-o {
  color: #803000;
}

div.article span.code-r {
  color: #800000;
}

div.article span.code-g {
  color: #006000;
}