div.article-container {
  width: 100vw;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

article {
  width: 100vw;
  max-width: 700px;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}

section {
  display: flex;
  flex-direction: column;
}

article nav {
  position: relative;
  z-index: 0;
}

article h1 {
  font-size: 4em;
  margin: 0px;
}

article h2 {
  font-size: 3em;
  margin: 0px;
}

article h3 {
  font-size: 2em;
  margin: 20px 0px 0px 0px;
}

article h4 {
  font-size: 2em;
  margin: 20px 0px 0px 0px;
}

article p {
  margin: 10px 0px 10px 0px;
}

article p * {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

article p.top {
  margin: 10px 0px 0px 0px;
}

article p.mid {
  margin: 0px 0px 0px 0px;
}

article p.bot {
  margin: 0px 0px 10px 0px;
}

article div.code {
  border: solid 2px red;
}

article div.code p {
  font-family: 'Courier New', Courier, monospace;
  white-space: pre;
}

article code {
  width: fit-content;
  border: solid 4px black;
  background-color: #eeeeeeff;
  display: inline-block;
  white-space: pre;
  margin: 5px;
  padding: 15px 15px 15px 15px;
}

article code.inline {
  font-family: 'Courier New', Courier, monospace;
  width: fit-content;
  border: none;
  background-color: unset;
  display: inline-block;
  white-space: pre;
  margin: 0px;
  padding: 0px;
}

article code p.code {
  font-family: 'Courier New', Courier, monospace;
  margin: 2px;
}

article figure {
  border: solid black 4px;
  padding: 4px;
  margin: 4px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

article figcaption {
  font-size: 1.5em;
}

article a[name] {
  display: block;
  position: relative;
  top: -55px;
  visibility: hidden;
}

article ul.contents li {
  font-size: 1.5em;
}

article ul.contents li a {
  text-decoration: none;
}

article a:link {
  color: black;
}


article a:visited {
  color: #222222ff;
}


article a:hover {
  color: red;
}

article code p {
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  margin: 0px;
}

article code p span {
  font-family: 'Courier New', Courier, monospace;
}

article span.code-p {
  color: #8000ff;
}

article span.code-m {
  color: #800040;
}

article span.code-l {
  color: #408000;
}

article span.code-c {
  color: #008080;
}

article span.code-b {
  color: #0000bb;
}

article span.code-y {
  color: #606000;
}

article span.code-t {
  color: #008040;
}

article span.code-o {
  color: #803000;
}

article span.code-r {
  color: #800000;
}

article span.code-g {
  color: #006000;
}

article section.about-this-article p {
  margin: 0px;
}