/* * {
  outline: red 1px solid;
  outline-offset: -1px;
} */

button, button:active {
  padding: 0px 8px;
}

.hidden {
  display: none;
  transition: 5s;
}

div.app {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

div.content-page {
  padding: 10px;
}

@font-face {
  font-family: Dimbo;
  src: url('./components/fonts/DimboRegular.ttf');
}

* {
  font-family: 'Dimbo', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  /* font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
}

p {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.page-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  background-color: #FFFFFFFF;
}

.page-header > h1 {
  font-size: 80px;
  margin: 0px;
}

.page-header > h2 {
  font-size: 32px;
  margin: 0px;
}

nav {
  display: flex;
  justify-content: space-around;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  transition-duration: 1s;
  transition-delay: 1s;
  background-color: #FFFFFFFF;
  border-bottom: solid black 5px;
  border-top: solid black 5px;
  left: 0;
}

div#navbar-buttons {
  display: flex;
  justify-content: center;
  flex-grow: 10;
}

div#navbar-buttons > button {
  background: #FFFFFFFF;
  border: solid 4px #A0A0A0FF;
  margin: 3px;
  font-size: 30px;
}

div#navbar-buttons > button:hover {
  background: #FFFFFFFF;
  border: solid 4px #000000FF;
  margin: 3px;
  font-size: 30px;
}

div#navbar-buttons > button:active {
  background: #FFFFFFFF;
  border: solid 4px #FFFFFFFF;
  margin: 3px;
}

div#navbar-title {
  flex-grow: 0;
  position: relative;
  width: 0px;
  overflow: hidden;
  transition-duration: 0.5s;
  /* font-size: 200px; */
  display: flex;
  justify-content: center;
  align-items: center;
}

div#navbar-title > h1 {
  margin: 0px;
}

div#navbar-title.on-screen {
  width: 200px;
  /* flex-grow: 1; */
}

div.route-page {
  transition-duration: 0.5s;
  opacity: 1;
}

div.route-page.invisible {
  opacity: 0;
  transition-duration: 0.5s;
}