* {
  outline: red 1px solid;
  outline-offset: -1px;
}

div.app {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

@font-face {
  font-family: Dimbo;
  src: url('./components/fonts/DimboRegular.ttf');
}

* {
  font-family: 'Dimbo', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  /* font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
}

.page-header > h1 {
  font-size: 80px;
  margin: 0px;
}

.page-header > h2 {
  font-size: 32px;
  margin: 0px;
}

nav {
  display: flex;
  justify-content: space-around;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  transition-duration: 1s;
  transition-delay: 1s;
  background-color: aqua;
}

div#navbar-buttons {
  flex-grow: 1;

}

div#navbar-title {
  flex-grow: 0;
  position: relative;
  width: 0px;
  overflow: hidden;
  transition-duration: 0.5s;
  /* font-size: 200px; */
}

div#navbar-title > h1 {
  margin: 0px;
}

div#navbar-title.on-screen {
  flex-grow: 1;
}

button {
  transition: 3s;
}